# Oracle Database Connection
ORACLE_USER=movieuser
ORACLE_PASSWORD=moviepass
ORACLE_DSN=localhost:1521/FREEPDB1
ORACLE_PWD=MyPass123

# Flask
FLASK_HOST=0.0.0.0
FLASK_PORT=5000
FLASK_DEBUG=True

MODEL_NAME=all-MiniLM-L6-v2